Repository thiago-figueiredo/authentication: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts}": "eslint --cache --fix",
  "*.{js,json,md,ts,yml}": "prettier --write"
}

I suppose we can ignore the eslint cache file. ¯\_(ツ)_/¯
  .gitignore
Due: none

Generating and verifying a short lived token.
  package-lock.json
  package.json
  src/functions/make-access-token.ts
  src/functions/verify-access-token.ts
  src/main.ts
Due: eslint --cache --fix, prettier --write

This should have been caught by the linter...
  src/main.ts
Due: eslint --cache --fix, prettier --write

Needed changes/improvements to our linting rules because of @typescript-eslint.
  .eslintrc.json
Due: prettier --write

Extends the access token TTL and adds hasura claims to it.
  src/functions/make-access-token.ts
Due: eslint --cache --fix, prettier --write

User data array to simulate database access.
  src/data/users.ts
Due: eslint --cache --fix, prettier --write

Adding contact ID to Hasura claims.
  src/functions/make-access-token.ts
Due: eslint --cache --fix, prettier --write

For consistency's sake, this is about contacts, not users... So refactored all references to users.
  src/data/contacts.ts
  src/data/users.ts
  src/functions/make-access-token.ts
Due: eslint --cache --fix, prettier --write

Isolating auxiliar functions and adding role definition to Hasura claims.
  src/data/contacts.ts
  src/functions/get-contact-data.ts
  src/functions/get-hasura-claims.ts
  src/functions/make-access-token.ts
Due: eslint --cache --fix, prettier --write

Just saving this file to keep it, well, safe.
  src/hasura-stuff/hasura-test-schema-and-data.sql
Due: none
